<div class="container">
  <!-- Default form register -->
  <form>
    <p class="h4 text-center mb-4">Add New Limit Profile</p>

    <!-- Default input name -->
    <label for="defaultFormRegisterNameEx" class="grey-text">Profile Name</label>
    <input type="text" id="defaultFormRegisterNameEx" class="form-control" #profile_name>

    <br>

    <label class="grey-text">daily send amount</label>
    <input class="form-control"#daily_send_amount>

    <br>

    <label class="grey-text">daily receive amount</label>
    <input class="form-control"#daily_receive_amount>

    <br>

    <!-- Default input email -->
    <label for="defaultFormRegisterEmailEx" class="grey-text">Daily send count</label>
    <input type="text" id="defaultFormRegisterEmailEx" class="form-control"#daily_send_count>
    <br>

    <label class="grey-text">daily receive count</label>
    <input class="form-control"#daily_receive_count>

    <br>

    <div class="text-center mt-4">
      <button class="btn btn-unique" (click)="createLmit(profile_name.value,daily_send_amount.value,daily_receive_amount.value,daily_send_count.value,daily_receive_count.value)">Add Profile</button>
    </div>
  </form>
  <!-- Default form register -->
  </div>
