<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Phone number</th>
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of users" routerLink="/user/get/{{user.id}}">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone_number}}</td>
      </tr>
  </tbody>
</table>
