<div class="container-fluid well span6">
    <div class="row-fluid">
      <div class="span2" >
        <img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="img-circle">
      </div>

      <div class="span8">
        <h1>Name: {{user.name}}</h1>
        <h3>Email: {{user.email}}</h3>
        <h3>Username: {{user.username}}</h3>
        <h3>Phone number: {{user.phone_number}}</h3>
        <h3>Balance: {{user.balance}}</h3>
        <h3>limit profile id: {{user.limit_id}}</h3>
        <h3>Fees profile id: {{user.fees_id}}</h3>
        <h3>Amount sent today: {{user.day_sent}}</h3>
        <h3>Amount received today: {{user.day_received}}</h3>
        <h3>Amount sent this month: {{user.month_sent}}</h3>
        <h3>Amount received this month: {{user.month_receive}}</h3>
      </div>

      <!-- <div class="span2">
        <div class="btn-group">
          <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
            Action
            <span class="icon-cog icon-white"></span><span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a routerLink="/user/update/{{userId}}"><span class="icon-wrench"></span> Modify</a></li>
            <li><a (click)="deleteUser(userId)"><span class="icon-trash"></span> Delete</a></li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
