<button type="button" class="btn btn-default" routerLink="/trx/make" >Make transaction</button>
<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">amount</th>
    <th scope="col">sender_id</th>
    <th scope="col">receiver_id</th>
    <th scope="col">sender_fees</th>
    <th scope="col">receiver_fees</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let trx of transactions" routerLink="/trx/get/{{trx.id}}">
    <td>{{trx.amount}}</td>
    <td>{{trx.sender_id}}</td>
    <td>{{trx.receiver_id}}</td>
    <td>{{trx.sender_fees}}</td>
    <td>{{trx.receiver_fees}}</td>
  </tr>
  </tbody>
</table>
