<div class="container-fluid well span6">
  <div class="row-fluid">
    <div class="span8">
      <h1>Name: {{adminModel.name}}</h1>
      <h3>Username: {{adminModel.username}}</h3>
      <h3>email: {{adminModel.email}}</h3>
    </div>

    <div class="span2">
      <div class="btn-group">
        <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
          Action
          <span class="icon-cog icon-white"></span><span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a routerLink="/admin/update/{{adminId}}"><span class="icon-wrench"></span> Modify</a></li>
          <li><a (click)="deleteAdmin(adminId)"><span class="icon-trash"></span> Delete</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
