<div class="container-fluid well span6">
  <div class="row-fluid">
    <div class="span8">
      <h1>Profile Name: {{limitModel.profile_name}}</h1>
      <h3>Max amount to send per Day: {{limitModel.daily_send_amount}}</h3>
      <h3>Max amount to receive per Day: {{limitModel.daily_receive_amount}}</h3>
      <h3>Max number transactions to send per Day: {{limitModel.daily_send_count}}</h3>
      <h3>Max number transactions to receive per Day: {{limitModel.daily_receive_count}}</h3>
    </div>

    <div class="span2">
      <div class="btn-group">
        <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
          Action
          <span class="icon-cog icon-white"></span><span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a routerLink="/limit/update/{{limitId}}"><span class="icon-wrench"></span> Modify</a></li>
          <li><a (click)="deleteLimit(limitId)"><span class="icon-trash"></span> Delete</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
