
<button type="button" class="btn btn-default" routerLink="/limit/add">Add Limit profile</button>

<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">Profile Name</th>
    <th scope="col">Max amount to send / Day</th>
    <th scope="col">Max amount to receive / Day</th>
    <th scope="col">Max number transactions to send / Day</th>
    <th scope="col">Max number transactions to receive / Day</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let limit of limits" routerLink="/limit/get/{{limit.id}}">
    <td>{{limit.profile_name}}</td>
    <td>{{limit.daily_send_amount}}</td>
    <td>{{limit.daily_receive_amount}}</td>
    <td>{{limit.daily_send_count}}</td>
    <td>{{limit.daily_receive_count}}</td>
  </tr>
  </tbody>
</table>
