<div class="container">
    <!-- Default form register -->
    <form>
      <p class="h4 text-center mb-4">Update Admin Info</p>

      <!-- Default input name -->
      <label for="defaultFormRegisterNameEx" class="grey-text">Name</label>
      <input type="text" id="defaultFormRegisterNameEx" class="form-control" #name value="{{admin.name}}">

      <br>

      <label class="grey-text">Username</label>
      <input class="form-control"#username value="{{admin.username}}">

      <br>

      <!-- Default input email -->
      <label for="defaultFormRegisterEmailEx" class="grey-text">Email</label>
      <input type="email" id="defaultFormRegisterEmailEx" class="form-control"#email value="{{admin.email}}">

      <br>

      <div class="text-center mt-4">
        <button class="btn btn-unique" (click)="updateAdmin(adminId,name.value,username.value,email.value)">Update</button>
      </div>
    </form>
    <!-- Default form register -->
    </div>
