<div class="container">
    <!-- Default form register -->
      <p class="h4 text-center mb-4">Update User Account</p>

      <!-- Default input name -->
      <label for="defaultFormRegisterNameEx" class="grey-text">Your name</label>
      <input type="text" id="defaultFormRegisterNameEx" class="form-control" #name value="{{user.name}}">

      <br>

      <label class="grey-text">username</label>
      <input class="form-control"#username value="{{user.username}}">

      <br>

      <label class="grey-text">phone number</label>
      <input class="form-control"#phoneNo value="{{user.phone_number}}">

      <br>
      <!-- Default input email -->
      <label for="defaultFormRegisterEmailEx" class="grey-text">Your email</label>
      <input type="email" id="defaultFormRegisterEmailEx" class="form-control"#email value="{{user.email}}">

      <br>
      <!-- Default input email -->
      <label for="defaultFormRegisterEmailEx" class="grey-text">fees profile id</label>
      <input type="text" id="defaultFormRegisterEmailEx" class="form-control"#fees_id value="{{user.fees_id}}">

      <br>

      <!-- Default input email -->
      <label for="defaultFormRegisterEmailEx" class="grey-text">limits profile id </label>
      <input type="text" id="defaultFormRegisterEmailEx" class="form-control"#limit_id value="{{user.limit_id}}">

      <br>


      <div class="text-center mt-4">
        <button class="btn btn-unique" (click)="updateUser(userId, name.value, username.value, email.value, phoneNo.value, fees_id.value, limit_id.value)">Update</button>
      </div>
    <!-- Default form register -->
    </div>
