<div class="container">
  <!-- Default form register -->
  <form>
    <p class="h4 text-center mb-4">Add New Fee Profile</p>

    <!-- Default input name -->
    <label for="defaultFormRegisterNameEx" class="grey-text">Profile Name</label>
    <input type="text" id="defaultFormRegisterNameEx" class="form-control" #profile_name>

    <br>

    <label class="grey-text">sender fees</label>
    <input class="form-control"#sender_fees>

    <br>

    <label for="s_fee" class="grey-text">Type: </label>
    <select id="s_fee" #s_fees_type>
      <option value="flat">Flat</option>
      <option value="percentage">percentage</option>
    </select>
    <br>
    <br>

    <!-- Default input email -->
    <label for="defaultFormRegisterEmailEx" class="grey-text">receiver fee</label>
    <input type="text" id="defaultFormRegisterEmailEx" class="form-control"#receive_fees>

    <br>

    <label for="r_fee" class="grey-text">Type: </label>
    <select id="r_fee" #r_fees_type>
      <option value="flat">Flat</option>
      <option value="percentage">percentage</option>
    </select>



    <div class="text-center mt-4">
      <button class="btn btn-unique" (click)="createFee(profile_name.value,sender_fees.value,receive_fees.value,s_fees_type.value,r_fees_type.value)">Add Fee</button>
    </div>
  </form>
  <!-- Default form register -->
  </div>
