<div class="container">
<!-- Default form register -->
<form>
  <p class="h4 text-center mb-4">Sign up</p>

  <!-- Default input name -->
  <label for="defaultFormRegisterNameEx" class="grey-text">Your name</label>
  <input type="text" id="defaultFormRegisterNameEx" class="form-control" #name>

  <br>

  <label class="grey-text">username</label>
  <input class="form-control"#username>

  <br>

  <label class="grey-text">phone number</label>
  <input class="form-control"#phoneNo>

  <br>
  <!-- Default input email -->
  <label for="defaultFormRegisterEmailEx" class="grey-text">Your email</label>
  <input type="email" id="defaultFormRegisterEmailEx" class="form-control"#email>

  <br>

  <!-- Default input email -->
  <label for="defaultFormRegisterConfirmEx" class="grey-text">Confirm your email</label>
  <input type="email" id="defaultFormRegisterConfirmEx" class="form-control"#cmail>

  <br>

  <!-- Default input password -->
  <label for="defaultFormRegisterPasswordEx" class="grey-text">Your password</label>
  <input type="password" id="defaultFormRegisterPasswordEx" class="form-control" #password>

  <br>

  <div class="text-center mt-4">
    <button class="btn btn-unique" (click)="signup(name.value,username.value,phoneNo.value,email.value,cmail.value,password.value)">Register</button>
  </div>
</form>
<!-- Default form register -->
</div>
