<div class="container-fluid well span6">
  <div class="row-fluid">
    <div class="span8">
      <h1>Profile Name: {{feeModel.profile_name}}</h1>
      <h3>Fees on sender: {{feeModel.sender_fees}}</h3>
      <h3>USender Fees type: {{feeModel.s_fees_type}}</h3>
      <h3>Fees on receiver: {{feeModel.receive_fees}}</h3>
      <h3>Receiver Fees type: {{feeModel.r_fees_type}}</h3>
    </div>

    <div class="span2">
      <div class="btn-group">
        <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
          Action
          <span class="icon-cog icon-white"></span><span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a routerLink="/fee/update/{{feeId}}"><span class="icon-wrench"></span> Modify</a></li>
          <li><a (click)="deleteFee(feeId)"><span class="icon-trash"></span> Delete</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
