<div class="container">
  <!-- Default form register -->
  <form>
    <p class="h4 text-center mb-4">Create New Admin</p>

    <!-- Default input name -->
    <label for="defaultFormRegisterNameEx" class="grey-text">Name</label>
    <input type="text" id="defaultFormRegisterNameEx" class="form-control" #name>

    <br>

    <label class="grey-text">Username</label>
    <input class="form-control"#username>

    <br>

    <!-- Default input email -->
    <label for="defaultFormRegisterEmailEx" class="grey-text">Email</label>
    <input type="email" id="defaultFormRegisterEmailEx" class="form-control"#email>

    <br>

    <!-- Default input email -->
    <label for="defaultFormRegisterConfirmEx" class="grey-text">Confirm Email</label>
    <input type="email" id="defaultFormRegisterConfirmEx" class="form-control"#cmail>

    <br>

    <!-- Default input password -->
    <label for="defaultFormRegisterPasswordEx" class="grey-text">new password</label>
    <input type="password" id="defaultFormRegisterPasswordEx" class="form-control" #password>

    <br>

    <div class="text-center mt-4">
      <button class="btn btn-unique" (click)="createAdmin(name.value,username.value,email.value,cmail.value,password.value)">Add Admin</button>
    </div>
  </form>
  <!-- Default form register -->
  </div>
