

<button type="button" class="btn btn-default" routerLink="/fee/add">Add Fee profile</button>

<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">Profile Name</th>
    <th scope="col">Fees on sender</th>
    <th scope="col">Sender Fees type</th>
    <th scope="col">Fees on receiver</th>
    <th scope="col">Receiver Fees type</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let fee of fees" routerLink="/fee/get/{{fee.id}}">
    <td>{{fee.profile_name}}</td>
    <td>{{fee.sender_fees}}</td>
    <td>{{fee.s_fees_type}}</td>
    <td>{{fee.receive_fees}}</td>
    <td>{{fee.r_fees_type}}</td>
  </tr>
  </tbody>
</table>
