<!--&lt;!&ndash;Footer&ndash;&gt;-->
<!--<footer class="page-footer font-small blue pt-4 mt-4" style="position: absolute; bottom: 0;width: 100%">-->

  <!--&lt;!&ndash;Footer Links&ndash;&gt;-->
  <!--<div class="container-fluid text-center text-md-left">-->
    <!--<div class="row">-->

      <!--&lt;!&ndash;First column&ndash;&gt;-->
      <!--<div class="col-md-6">-->
        <!--<h5 class="text-uppercase">Footer Content</h5>-->
        <!--<p>Here you can use rows and columns here to organize your footer content.</p>-->
      <!--</div>-->
      <!--&lt;!&ndash;/.First column&ndash;&gt;-->

      <!--&lt;!&ndash;Second column&ndash;&gt;-->
      <!--<div class="col-md-6">-->
        <!--<h5 class="text-uppercase">Links</h5>-->
        <!--<ul class="list-unstyled">-->
          <!--<li>-->
            <!--<a href="#!">Link 1</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 2</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 3</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 4</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--&lt;!&ndash;/.Second column&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash;/.Footer Links&ndash;&gt;-->

  <!--&lt;!&ndash;Copyright&ndash;&gt;-->
  <!--<div class="footer-copyright py-3 text-center">-->
    <!--© 2018 Copyright:-->
    <!--<a href="https://mdbootstrap.com/material-design-for-bootstrap/"> MDBootstrap.com </a>-->
  <!--</div>-->
  <!--&lt;!&ndash;/.Copyright&ndash;&gt;-->

<!--</footer>-->
<!--&lt;!&ndash;/.Footer&ndash;&gt;-->
