


<button class="btn btn-default" routerLink="/admin/add">Add Admin</button>
<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">Name: </th>
    <th scope="col">Username: </th>
    <th scope="col">Email: </th>
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let admin of admins" routerLink="/admin/get/{{admin.id}}">
        <td>{{admin.name}}</td>
        <td>{{admin.username}}</td>
        <td>{{admin.email}}</td>
      </tr>
  </tbody>
</table>
