<!--<div *ngIf="messageService.messages.length">-->

  <!--<h2>Messages</h2>-->
  <!--<button class="clear"-->
          <!--(click)="messageService.clear()">clear</button>-->
  <!--<div *ngFor='let message of messageService.messages'> {{message}} </div>-->

<!--</div>-->

<!--<div *ngIf="messageService.errors.length">-->

  <!--<h2>Errors</h2>-->
  <!--<button class="clear"-->
          <!--(click)="messageService.clear()">clear</button>-->
  <!--<div *ngFor='let error of messageService.errors'> {{error}} </div>-->

<!--</div>-->


<div class="alert alert-success" *ngIf="messageService.messages.length">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="messageService.clear()">&times;</button>
  <h2>Messages</h2>
  <div *ngFor='let message of messageService.messages'> {{message}} </div>
</div>


<div class="alert alert-danger" *ngIf="messageService.errors.length">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="messageService.clear()">&times;</button>
  <strong>Error!</strong>
  <div *ngFor='let error of messageService.errors'> {{error}} </div>
</div>
