<div class="container">
    <!-- Default form register -->
      <p class="h4 text-center mb-4">Make Transaction</p>


      <label class="grey-text">Receiver Email: </label>
      <input class="form-control"#receiverEmail>

      <br>

      <label class="grey-text">Amount you with to send: </label>
      <input class="form-control"#amount>

      <br>
      <div class="text-center mt-4">
        <button class="btn btn-unique" (click)="makeTransaction(receiverEmail.value, amount.value)">Make Transacton</button>
      </div>
    <!-- Default form register -->
    </div>
