
<div class="container-fluid well span6">
    <div class="row-fluid">
      <div class="span8">
        <h1>Amount: {{trx.amount}}</h1>
        <h3>sender id: {{trx.sender_id}}</h3>
        <h3>receiver id: {{trx.receiver_id}}</h3>
        <h3>sender balance before transaction: {{trx.sender_balance_before}}</h3>
        <h3>sender balance after transaction {{trx.sender_balance_after}}</h3>
        <h3>receiver balance before transaction: {{trx.receiver_balance_before}}</h3>
        <h3>receiver balance after: {{trx.receiver_balance_after}}</h3>
        <h3>sender fees: {{trx.sender_fees}}</h3>
        <h3>receiver fees: {{trx.receiver_fees}}</h3>
        <h3>Date: {{trx.createdAt}}</h3>
      </div>
    </div>
  </div>
