
<!-- Material form login -->
<div class="container">
  <form>
  <!-- Default form login -->
    <p class="h4 text-center mb-4">Sign in</p>

    <!-- Default input email -->
    <label for="defaultFormLoginEmailEx" class="grey-text">Your email</label>
    <input type="email" id="defaultFormLoginEmailEx" class="form-control" #email>

    <br>
    <!-- Default input password -->
    <label for="defaultFormLoginPasswordEx" class="grey-text">Your password</label>
    <input type="password" id="defaultFormLoginPasswordEx" class="form-control" #password>
    <br>
    <br>
    <label for="userType" class="grey-text">Type: </label>
    <select id="userType" #userType>
        <option value="user">Normal user</option>
      <option value="admin">Admin User</option>

    </select>

    <div class="text-center mt-4">
      <button class="btn btn-indigo" (click)="signin(email.value,password.value,userType.value)">Login</button>
    </div>
  </form>
</div>
