<!-- Nav tabs -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <ul class="nav nav-tabs|pills " id="navId">
      <li class="nav-item">
          <a *ngIf="!authService.Admin && authService.LoggedIn" routerLink="/trx">My Transactions</a>
        </li>
        <li class="nav-item">
          <a *ngIf="authService.Admin" routerLink="/trx/all">System Transactions</a>
        </li>
        <li class="nav-item" *ngIf="authService.Admin">
          <a routerLink="/users">users</a>
        </li>
        <li class="nav-item">
          <a *ngIf="authService.Super" routerLink="/admins">admins</a>
        </li>
        <li class="nav-item dropdown" *ngIf="authService.Admin">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Profiles</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/fees">Fees</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/limits">Limits</a>
          </div>
        </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade in active" id="tab1Id" role="tabpanel"></div>
    <div class="tab-pane fade" id="tab2Id" role="tabpanel"></div>
    <div class="tab-pane fade" id="tab3Id" role="tabpanel"></div>
    <div class="tab-pane fade" id="tabs4Id" role="tabpanel"></div>
    <div class="tab-pane fade" id="tab5Id" role="tabpanel"></div>
  </div>
  <ul class="nav nav-tabs|pills">
      <li class="nav-item">
          <a *ngIf="!authService.LoggedIn" routerLink="/signin" >signin</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!authService.LoggedIn"  routerLink="/signup">signup</a>
        </li>
        <li class="nav-item">
            <a *ngIf="authService.LoggedIn" routerLink="/profile">profile</a>
        </li>
        <li class="nav-item">
            <a *ngIf="authService.LoggedIn" href="#" (click)="signOut()">signout</a>
        </li>
  </ul>

</nav>
